/* Write your code here. */
.card-container {
  width: 70%;
  background-color: rgba(241, 142, 236, 0.308);
  display: flex;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #ffffff;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.score-result {
  color: blue;
  font-size: 30px;
}

.play-button {
  background-color: yellow;
  color: black;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  outline: none;
}
.image-container {
  width: 50%;
}
