/* Write your code here. */
.navBar-section {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  background-size: cover;
  height: 12vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.scores-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.emoji-logo {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.heading {
  font-family: roboto;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
}
.score {
  font-family: roboto;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 15px;
}
